# ch1_python
main_camp/ch1_python/conda-meta
main_camp/ch2_basic_AI/cuda-doc
main_camp/ch1_python/DLLs
main_camp/ch1_python/etc
main_camp/ch1_python/include
main_camp/ch1_python/Lib
main_camp/ch1_python/Library
main_camp/ch2_basic_AI/libnvvp
main_camp/ch1_python/libs
main_camp/ch1_python/Scripts
main_camp/ch1_python/share
main_camp/ch1_python/Tools
main_camp/ch1_python/.nonadmin
main_camp/ch1_python/*.dll
main_camp/ch1_python/*.pdb
main_camp/ch1_python/LICENSE_PYTHON.txt
main_camp/ch1_python/pylupdate5.bat
main_camp/ch1_python/pyrcc5.bat
main_camp/ch1_python/pyuic5.bat
main_camp/ch1_python/python.exe
main_camp/ch1_python/pythonw.exe

# ch2_basic_AI
main_camp/ch2_basic_AI/models--gpt2
main_camp/ch2_basic_AI/trusted_list
main_camp/ch2_basic_AI/conda-meta
main_camp/ch2_basic_AI/DLLs
main_camp/ch2_basic_AI/etc
main_camp/ch2_basic_AI/include
main_camp/ch2_basic_AI/Lib
main_camp/ch2_basic_AI/Library
main_camp/ch2_basic_AI/libs
main_camp/ch2_basic_AI/Scripts
main_camp/ch2_basic_AI/share
main_camp/ch2_basic_AI/Tools
main_camp/ch2_basic_AI/libnvvp
main_camp/ch2_basic_AI/cuda-doc
main_camp/ch2_basic_AI/.nonadmin
main_camp/ch2_basic_AI/*.dll
main_camp/ch2_basic_AI/*.pdb
main_camp/ch2_basic_AI/LICENSE_PYTHON.txt
main_camp/ch2_basic_AI/pylupdate5.bat
main_camp/ch2_basic_AI/pyrcc5.bat
main_camp/ch2_basic_AI/pyuic5.bat
main_camp/ch2_basic_AI/python.exe
main_camp/ch2_basic_AI/pythonw.exe

# ch3_RAG
main_camp/ch3_RAG/conda-meta
main_camp/ch3_RAG/cuda-doc
main_camp/ch3_RAG/DLLs
main_camp/ch3_RAG/etc
main_camp/ch3_RAG/include
main_camp/ch3_RAG/Lib
main_camp/ch3_RAG/Library
main_camp/ch3_RAG/libnvvp
main_camp/ch3_RAG/libs
main_camp/ch3_RAG/Scripts
main_camp/ch3_RAG/share
main_camp/ch3_RAG/Tools
main_camp/ch3_RAG/.nonadmin
main_camp/ch3_RAG/*.dll
main_camp/ch3_RAG/*.pdb
main_camp/ch3_RAG/LICENSE_PYTHON.txt
main_camp/ch3_RAG/pylupdate5.bat
main_camp/ch3_RAG/pyrcc5.bat
main_camp/ch3_RAG/pyuic5.bat
main_camp/ch3_RAG/python.exe
main_camp/ch3_RAG/pythonw.exe

# ch4_WebService
main_camp/ch4_WebService/conda-meta
main_camp/ch4_WebService/cuda-doc
main_camp/ch4_WebService/DLLs
main_camp/ch4_WebService/etc
main_camp/ch4_WebService/include
main_camp/ch4_WebService/Lib
main_camp/ch4_WebService/Library
main_camp/ch4_WebService/libnvvp
main_camp/ch4_WebService/libs
main_camp/ch4_WebService/Scripts
main_camp/ch4_WebService/share
main_camp/ch4_WebService/Tools
main_camp/ch4_WebService/.nonadmin
main_camp/ch4_WebService/*.dll
main_camp/ch4_WebService/*.pdb
main_camp/ch4_WebService/LICENSE_PYTHON.txt
main_camp/ch4_WebService/pylupdate5.bat
main_camp/ch4_WebService/pyrcc5.bat
main_camp/ch4_WebService/pyuic5.bat
main_camp/ch4_WebService/python.exe
main_camp/ch4_WebService/pythonw.exe
main_camp/ch4_WebService/Menu
