main_camp/ch2_basic_AI/models--gpt2
main_camp/ch2_basic_AI/trusted_list
main_camp/ch2_basic_AI/conda-meta
main_camp/ch2_basic_AI/DLLs
main_camp/ch2_basic_AI/etc
main_camp/ch2_basic_AI/include
main_camp/ch2_basic_AI/Lib
main_camp/ch2_basic_AI/Library
main_camp/ch2_basic_AI/libs
main_camp/ch2_basic_AI/Scripts
main_camp/ch2_basic_AI/share
main_camp/ch2_basic_AI/Tools
main_camp/ch2_basic_AI/.nonadmin
main_camp/ch2_basic_AI/*.dll
main_camp/ch2_basic_AI/*.pdb
main_camp/ch2_basic_AI/LICENSE_PYTHON.txt
main_camp/ch2_basic_AI/pylupdate5.bat
main_camp/ch2_basic_AI/pyrcc5.bat
main_camp/ch2_basic_AI/pyuic5.bat
main_camp/ch2_basic_AI/python.exe
main_camp/ch2_basic_AI/pythonw.exe

main_camp/ch2_basic_AI/ch2_basic_AI/data
main_camp/ch2_basic_AI/ch2_basic_AI/data/cifar-10-python.tar.gz
main_camp/ch2_basic_AI/ch2_basic_AI/datasets
main_camp/ch2_basic_AI/ch2_basic_AI/huggingface-transformers-33868a0
main_camp/ch2_basic_AI/ch2_basic_AI/.env
main_camp/ch2_basic_AI/ch2_basic_AI/output_audio.mp3
main_camp/ch2_basic_AI/ch2_basic_AI/yolov8n.pt
main_camp/ch2_basic_AI/ch2_basic_AI/yolov8x.pt